h1{color:green;}	
table{border:	1px	solid	green;	color:forestgreen;}	
tr{background-color:white;	color:forestgreen;}	
td{border:1px	solid green; color:forestgreen}	
th{background-color:yellowgreen; color:white;}	


