<html>	
	<head>	
		<title>AuctionMan	Administration	Page</title>	
		<link	rel="shortcut	icon"	type="image/png"	href="@routes.Assets.at("images/options.png")">	
		<link	rel="icon"	type="image/png"	href="@routes.Assets.at("images/options.png")">	
		<link	rel="stylesheet"	type="text/css"	media="screen"	href="@routes.Assets.at("stylesheets/login.css")">	
	</head>	
	<body>	
	<form	action="/admin"	method="POST">	
 	 	<h1>Administration	Login</h1>	
		<p>	
 			<input	type="login"	name="login"	placeholder="Login">	
 	 	</p>	
 	 	<p>	
 			<input	type="password"	name="password"	placeholder="Password">	
 	 	</p>	
 	 	<p>	
 			<button	type="submit">Login</button>	
 	 	</p>	
 	</form>	
	</body>	
</html>	